In [132]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [175]:
df = pd.read_csv('../../Common/data/type_A_labeled.csv')

In [176]:
df

              시간 요일          채널명  label
0       00:00:03  금        MBC M      1
1       00:00:19  금     YTN 사이언스      0
2       00:00:37  금       채널 차이나      1
3       00:00:43  금      SBS MTV      1
4       00:00:59  금        애니원티비      0
...          ... ..          ...    ...
502601  23:59:12  목  nickelodeon      0
502602  23:59:20  목        OBS-W      0
502603  23:59:24  목      MBC NET      0
502604  23:59:25  목         리빙TV      0
502605  23:59:26  목   FISHING TV      0

[502606 rows x 4 columns]

In [134]:
hour = []
for i in range(len(df)) :
    h = df['시간'][i][0:2]
    hour.append(h)

df['hour'] = hour

In [135]:
min = []
for i in range(len(df)) :
    m = df['시간'][i][3:5]
    min.append(m)

df['min'] = min

In [136]:
sec = []
for i in range(len(df)) :
    s =  df['시간'][i][6:8]
    sec.append(s)

df['sec'] = sec

In [137]:
df[['hour','min','sec']] = df[['hour','min','sec']].astype(float)

In [138]:
for i in range(len(df)) :
    df['시간'][i] = (df['hour'][i] * 3600) + (df['min'][i] * 60) + df['sec'][i]

df

C:\Users\inp032\.conda\envs\yyc\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

             시간 요일          채널명  label  hour   min   sec
0           3.0  금        MBC M      1   0.0   0.0   3.0
1          19.0  금     YTN 사이언스      0   0.0   0.0  19.0
2          37.0  금       채널 차이나      1   0.0   0.0  37.0
3          43.0  금      SBS MTV      1   0.0   0.0  43.0
4          59.0  금        애니원티비      0   0.0   0.0  59.0
...         ... ..          ...    ...   ...   ...   ...
502601  86352.0  목  nickelodeon      0  23.0  59.0  12.0
502602  86360.0  목        OBS-W      0  23.0  59.0  20.0
502603  86364.0  목      MBC NET      0  23.0  59.0  24.0
502604  86365.0  목         리빙TV      0  23.0  59.0  25.0
502605  86366.0  목   FISHING TV      0  23.0  59.0  26.0

[502606 rows x 7 columns]

In [139]:
def cat_col(data) :
    data['요일'] = data['요일'].astype('category')
    data['채널명'] = data['채널명'].astype('category')

    return data

In [140]:
df = cat_col(df)

In [147]:
df['시간'] = df['시간'].astype(int)
df = df.drop(['hour','min','sec'],axis=1)

In [148]:
df.to_csv('../dataset/QTS_data_001.csv', index = False)

In [149]:
df

           시간 요일          채널명  label
0           3  금        MBC M      1
1          19  금     YTN 사이언스      0
2          37  금       채널 차이나      1
3          43  금      SBS MTV      1
4          59  금        애니원티비      0
...       ... ..          ...    ...
502601  86352  목  nickelodeon      0
502602  86360  목        OBS-W      0
502603  86364  목      MBC NET      0
502604  86365  목         리빙TV      0
502605  86366  목   FISHING TV      0

[502606 rows x 4 columns]