In [1]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [2]:
!pip install autolgbm

Requirement already satisfied: autolgbm in /usr/local/lib/python3.7/dist-packages (0.0.3)
Requirement already satisfied: pandas==1.3.4 in /usr/local/lib/python3.7/dist-packages (from autolgbm) (1.3.4)
Requirement already satisfied: fastapi==0.70.0 in /usr/local/lib/python3.7/dist-packages (from autolgbm) (0.70.0)
Requirement already satisfied: uvicorn==0.15.0 in /usr/local/lib/python3.7/dist-packages (from autolgbm) (0.15.0)
Requirement already satisfied: lightgbm==3.3.2 in /usr/local/lib/python3.7/dist-packages (from autolgbm) (3.3.2)
Requirement already satisfied: pyarrow==6.0.0 in /usr/local/lib/python3.7/dist-packages (from autolgbm) (6.0.0)
Requirement already satisfied: scikit-learn==1.0.1 in /usr/local/lib/python3.7/dist-packages (from autolgbm) (1.0.1)
Requirement already satisfied: loguru==0.5.3 in /usr/local/lib/python3.7/dist-packages (from autolgbm) (0.5.3)
Requirement already satisfied: joblib==1.1.0 in /usr/local/lib/python3.7/dist-packages (from autolgbm) (1.1.0)
Requirement already satisfied: numpy==1.21.3 in /usr/local/lib/python3.7/dist-packages (from autolgbm) (1.21.3)
Requirement already satisfied: pydantic==1.8.2 in /usr/local/lib/python3.7/dist-packages (from autolgbm) (1.8.2)
Requirement already satisfied: optuna==2.10.0 in /usr/local/lib/python3.7/dist-packages (from autolgbm) (2.10.0)
Requirement already satisfied: starlette==0.16.0 in /usr/local/lib/python3.7/dist-packages (from fastapi==0.70.0->autolgbm) (0.16.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from lightgbm==3.3.2->autolgbm) (1.4.1)
Requirement already satisfied: wheel in /usr/local/lib/python3.7/dist-packages (from lightgbm==3.3.2->autolgbm) (0.37.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from optuna==2.10.0->autolgbm) (4.64.0)
Requirement already satisfied: alembic in /usr/local/lib/python3.7/dist-packages (from optuna==2.10.0->autolgbm) (1.7.7)
Requirement already satisfied: colorlog in /usr/local/lib/python3.7/dist-packages (from optuna==2.10.0->autolgbm) (6.6.0)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.7/dist-packages (from optuna==2.10.0->autolgbm) (3.13)
Requirement already satisfied: sqlalchemy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from optuna==2.10.0->autolgbm) (1.4.36)
Requirement already satisfied: cliff in /usr/local/lib/python3.7/dist-packages (from optuna==2.10.0->autolgbm) (3.10.1)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from optuna==2.10.0->autolgbm) (21.3)
Requirement already satisfied: cmaes>=0.8.2 in /usr/local/lib/python3.7/dist-packages (from optuna==2.10.0->autolgbm) (0.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas==1.3.4->autolgbm) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas==1.3.4->autolgbm) (2.8.2)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from pydantic==1.8.2->autolgbm) (4.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==1.0.1->autolgbm) (3.1.0)
Requirement already satisfied: anyio<4,>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from starlette==0.16.0->fastapi==0.70.0->autolgbm) (3.5.0)
Requirement already satisfied: click>=7.0 in /usr/local/lib/python3.7/dist-packages (from uvicorn==0.15.0->autolgbm) (7.1.2)
Requirement already satisfied: h11>=0.8 in /usr/local/lib/python3.7/dist-packages (from uvicorn==0.15.0->autolgbm) (0.13.0)
Requirement already satisfied: asgiref>=3.4.0 in /usr/local/lib/python3.7/dist-packages (from uvicorn==0.15.0->autolgbm) (3.5.1)
Requirement already satisfied: sniffio>=1.1 in /usr/local/lib/python3.7/dist-packages (from anyio<4,>=3.0.0->starlette==0.16.0->fastapi==0.70.0->autolgbm) (1.2.0)
Requirement already satisfied: idna>=2.8 in /usr/local/lib/python3.7/dist-packages (from anyio<4,>=3.0.0->starlette==0.16.0->fastapi==0.70.0->autolgbm) (2.10)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->optuna==2.10.0->autolgbm) (3.0.8)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas==1.3.4->autolgbm) (1.15.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=1.1.0->optuna==2.10.0->autolgbm) (1.1.2)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=1.1.0->optuna==2.10.0->autolgbm) (4.11.3)
Requirement already satisfied: importlib-resources in /usr/local/lib/python3.7/dist-packages (from alembic->optuna==2.10.0->autolgbm) (5.7.1)
Requirement already satisfied: Mako in /usr/local/lib/python3.7/dist-packages (from alembic->optuna==2.10.0->autolgbm) (1.2.0)
Requirement already satisfied: autopage>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from cliff->optuna==2.10.0->autolgbm) (0.5.0)
Requirement already satisfied: cmd2>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from cliff->optuna==2.10.0->autolgbm) (2.4.1)
Requirement already satisfied: pbr!=2.1.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from cliff->optuna==2.10.0->autolgbm) (5.9.0)
Requirement already satisfied: stevedore>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from cliff->optuna==2.10.0->autolgbm) (3.5.0)
Requirement already satisfied: PrettyTable>=0.7.2 in /usr/local/lib/python3.7/dist-packages (from cliff->optuna==2.10.0->autolgbm) (3.2.0)
Requirement already satisfied: wcwidth>=0.1.7 in /usr/local/lib/python3.7/dist-packages (from cmd2>=1.0.0->cliff->optuna==2.10.0->autolgbm) (0.2.5)
Requirement already satisfied: pyperclip>=1.6 in /usr/local/lib/python3.7/dist-packages (from cmd2>=1.0.0->cliff->optuna==2.10.0->autolgbm) (1.8.2)
Requirement already satisfied: attrs>=16.3.0 in /usr/local/lib/python3.7/dist-packages (from cmd2>=1.0.0->cliff->optuna==2.10.0->autolgbm) (21.4.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy>=1.1.0->optuna==2.10.0->autolgbm) (3.8.0)
Requirement already satisfied: MarkupSafe>=0.9.2 in /usr/local/lib/python3.7/dist-packages (from Mako->alembic->optuna==2.10.0->autolgbm) (2.0.1)

In [3]:
import pandas as pd
import numpy as np
import random
import time
import gc
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import mean_squared_error
from lightgbm import LGBMRegressor
import matplotlib.pylab as plt
import seaborn as sns
from autolgbm import AutoLGBM

In [4]:
train = pd.read_csv('/content/drive/MyDrive/AI/dataset/[TPS-May]/train.csv')
test = pd.read_csv('/content/drive/MyDrive/AI/dataset/[TPS-May]/test.csv')

In [5]:
targets = ['target']
features = None
categorical_features = None
num_folds = 10
seed = 42
num_trials = 10000
time_limit = 7200
fast = False
use_gpu = True
num_folds = 10
seed = 42
num_trials = 10000
time_limit = 7200

TEST = False

In [6]:
train.head()

,id,f_00,f_01,f_02,f_03,f_04,f_05,f_06,f_07,f_08,...,f_22,f_23,f_24,f_25,f_26,f_27,f_28,f_29,f_30,target
0,0,-1.373246,0.238887,-0.243376,0.567405,-0.647715,0.839326,0.113133,1,5,...,-2.540739,0.766952,-2.730628,-0.208177,1.363402,ABABDADBAB,67.609153,0,0,0
1,1,1.697021,-1.710322,-2.230332,-0.545661,1.113173,-1.552175,0.447825,1,3,...,2.278315,-0.633658,-1.217077,-3.782194,-0.058316,ACACCADCEB,377.096415,0,0,1
2,2,1.681726,0.616746,-1.027689,0.810492,-0.609086,0.113965,-0.708660,1,0,...,-1.385775,-0.520558,-0.009121,2.788536,-3.703488,AAAEABCKAD,-195.599702,0,2,1
3,3,-0.118172,-0.587835,-0.804638,2.086822,0.371005,-0.128831,-0.282575,3,2,...,0.572594,-1.653213,1.686035,-2.533098,-0.608601,BDBBAACBCB,210.826205,0,0,1
4,4,1.148481,-0.176567,-0.664871,-1.101343,0.467875,0.500117,0.407515,3,3,...,-3.912929,-1.430366,2.127649,-3.306784,4.371371,BDBCBBCHFE,-217.211798,0,1,1

In [7]:
train.isnull().sum()

id        0
f_00      0
f_01      0
f_02      0
f_03      0
f_04      0
f_05      0
f_06      0
f_07      0
f_08      0
f_09      0
f_10      0
f_11      0
f_12      0
f_13      0
f_14      0
f_15      0
f_16      0
f_17      0
f_18      0
f_19      0
f_20      0
f_21      0
f_22      0
f_23      0
f_24      0
f_25      0
f_26      0
f_27      0
f_28      0
f_29      0
f_30      0
target    0
dtype: int64

# Feature engineering

In [8]:
## TPSMAY22 Advanced Keras 


features = [f for f in test.columns if f != 'id' and f != 'f_27']
float_features = [f for f in features if test[f].dtype == float]
for df in [train, test]:
    # Extract the 10 letters of f_27 into individual features
    for i in range(10):
        df[f'ch{i}'] = df.f_27.str.get(i).apply(ord) - ord('A')
        
    # unique_characters feature is from https://www.kaggle.com/code/cabaxiom/tps-may-22-eda-lgbm-model
    df["unique_characters"] = df.f_27.apply(lambda s: len(set(s)))
    
    # Feature interactions: create three ternary features
    # Every ternary feature can have the values -1, 0 and +1
    df['i_02_21'] = (df.f_21 + df.f_02 > 5.2).astype(int) - (df.f_21 + df.f_02 < -5.3).astype(int)
    df['i_05_22'] = (df.f_22 + df.f_05 > 5.1).astype(int) - (df.f_22 + df.f_05 < -5.4).astype(int)
    i_00_01_26 = df.f_00 + df.f_01 + df.f_26
    df['i_00_01_26'] = (i_00_01_26 > 5.0).astype(int) - (i_00_01_26 < -5.0).astype(int)
    
features = [f for f in test.columns if f != 'id' and f != 'f_27']
float_features = [f for f in features if test[f].dtype == float]
int_features = [f for f in features if test[f].dtype == int and f.startswith('f')]
ch_features = [f for f in features if f.startswith('ch')]
test[features].head(2)

,f_00,f_01,f_02,f_03,f_04,f_05,f_06,f_07,f_08,f_09,...,ch4,ch5,ch6,ch7,ch8,ch9,unique_characters,i_02_21,i_05_22,i_00_01_26
0,0.442517,0.174380,-0.999816,0.762741,0.186778,-1.074775,0.501888,6,6,0,...,1,0,3,11,0,2,5,0,0,1
1,-0.605598,-0.305715,0.627667,-0.578898,-1.750931,1.355550,-0.190911,1,3,4,...,1,0,4,6,2,1,6,0,0,0

In [9]:
train = train.drop(columns = ['id'])

In [10]:
test

,id,f_00,f_01,f_02,f_03,f_04,f_05,f_06,f_07,f_08,...,ch4,ch5,ch6,ch7,ch8,ch9,unique_characters,i_02_21,i_05_22,i_00_01_26
0,900000,0.442517,0.174380,-0.999816,0.762741,0.186778,-1.074775,0.501888,6,6,...,1,0,3,11,0,2,5,0,0,1
1,900001,-0.605598,-0.305715,0.627667,-0.578898,-1.750931,1.355550,-0.190911,1,3,...,1,0,4,6,2,1,6,0,0,0
2,900002,0.303990,2.445110,0.246515,0.818248,0.359731,-1.331845,1.358622,3,3,...,0,1,1,10,4,4,5,-1,0,0
3,900003,0.154053,0.260126,-1.367092,-0.093175,-1.111034,-0.948481,1.119220,0,0,...,0,0,2,16,2,2,5,0,0,0
4,900004,-1.651904,-0.424266,-0.667356,-0.322124,-0.089462,0.181705,1.784983,2,2,...,1,1,3,0,1,5,5,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699995,1599995,0.640110,0.897808,-0.523956,1.563760,-0.092281,-0.610867,0.535426,0,1,...,4,1,7,12,2,3,6,0,0,0
699996,1599996,-0.191771,-0.035246,-0.118533,0.584750,2.126977,0.568659,-0.052663,4,3,...,2,0,3,16,5,2,6,0,0,0
699997,1599997,-0.331704,-0.328845,-1.185503,1.022128,-0.483099,-0.107146,-0.968281,1,1,...,2,1,6,16,1,0,6,0,0,0
699998,1599998,-2.031073,-1.238398,0.964699,-1.045950,0.906064,0.634301,-0.707474,5,1,...,2,0,1,13,3,4,6,0,0,-1
699999,1599999,-0.085906,-0.002124,2.227375,0.217145,3.179153,-1.660188,0.891989,0,3,...,1,0,2,7,5,5,6,0,-1,0

In [11]:
train_df = train
test

del train

# Model

In [14]:
algbm = AutoLGBM(
    train_filename = train_df,
    output= "outputs",
    test_filename=test,
    task=None,
    targets=train_df['target'],
    features=features,
    use_gpu=use_gpu,
    num_folds=num_folds,
    seed=seed,
    num_trials=num_trials,
    time_limit=time_limit,
    fast=fast,
)

2022-05-10 15:19:47.290 | INFO     | autolgbm.autolgbm:__post_init__:42 - Output directory: outputs

In [15]:
algbm.train()

2022-05-10 15:19:50.916 | INFO     | autolgbm.autolgbm:_process_data:149 - Reading training data

TypeError: ignored