In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
from tqdm import tqdm
import pandas as pd

In [19]:
train_df = pd.read_csv('/content/drive/MyDrive/AI/dataset/JPX_Tokyo_Stock/train_files/stock_prices.csv', parse_dates=True)
valid_df = pd.read_csv('/content/drive/MyDrive/AI/dataset/JPX_Tokyo_Stock/supplemental_files/stock_prices.csv', parse_dates=True)
test_df = pd.read_csv('/content/drive/MyDrive/AI/dataset/JPX_Tokyo_Stock/example_test_files/stock_prices.csv', parse_dates=True)

In [20]:
print(train_df.shape )
print(valid_df.shape )


print("train_df Null Check : {}".format(train_df.isnull().sum()))
print('----------------------------------------------------------')
print("valid_df Null Check : {}".format(valid_df.isnull().sum()))

(2332531, 12)
(112000, 12)
train_df Null 확인 : RowId                     0
Date                      0
SecuritiesCode            0
Open                   7608
High                   7608
Low                    7608
Close                  7608
Volume                    0
AdjustmentFactor          0
ExpectedDividend    2313666
SupervisionFlag           0
Target                  238
dtype: int64
----------------------------------------------------------
valid_df Null 확인 : RowId                    0
Date                     0
SecuritiesCode           0
Open                   284
High                   284
Low                    284
Close                  284
Volume                   0
AdjustmentFactor         0
ExpectedDividend    111497
SupervisionFlag          0
Target                   0
dtype: int64

In [21]:
df = pd.concat([train_df, valid_df],axis = 0)

del train_df, valid_df

In [24]:
df = df.drop(["ExpectedDividend"],axis=1)
df = df.dropna()

In [27]:
print(df.shape)
df

(2436639, 11)

,RowId,Date,SecuritiesCode,Open,High,Low,Close,Volume,AdjustmentFactor,SupervisionFlag,Target
0,20170104_1301,2017-01-04,1301,2734.0,2755.0,2730.0,2742.0,31400,1.0,False,0.000730
1,20170104_1332,2017-01-04,1332,568.0,576.0,563.0,571.0,2798500,1.0,False,0.012324
2,20170104_1333,2017-01-04,1333,3150.0,3210.0,3140.0,3210.0,270800,1.0,False,0.006154
3,20170104_1376,2017-01-04,1376,1510.0,1550.0,1510.0,1550.0,11300,1.0,False,0.011053
4,20170104_1377,2017-01-04,1377,3270.0,3350.0,3270.0,3330.0,150800,1.0,False,0.003026
...,...,...,...,...,...,...,...,...,...,...,...
111995,20220228_9990,2022-02-28,9990,511.0,518.0,509.0,516.0,120600,1.0,False,-0.013592
111996,20220228_9991,2022-02-28,9991,823.0,825.0,814.0,822.0,16200,1.0,False,-0.020581
111997,20220228_9993,2022-02-28,9993,1600.0,1622.0,1600.0,1600.0,4000,1.0,False,0.005762
111998,20220228_9994,2022-02-28,9994,2568.0,2568.0,2540.0,2565.0,9000,1.0,False,-0.002341
111999,20220228_9997,2022-02-28,9997,731.0,737.0,726.0,734.0,288100,1.0,False,-0.030014