In [2]:
import pandas as pd

In [3]:
epg = pd.read_csv('./Case1_EPG/epg_information.csv')
epg.head(2)

,ch_sid,brad_date,brad_st_time,brad_ed_time,ch_nm,parent_genre,child_genre,title,sub_title,episode,...,epg_svrt,image_info,sub_title_yn,commentary_yn,ch_no,sigh_language,reg_dt,reg_id,upd_dt,upd_id
0,362,2022-06-17,10:25:00,11:35:00,홈&쇼핑,홈쇼핑,패션/의류,케이수(코디세트SS+밴딩팬츠SS(팔라초)),NaN,NaN,...,0,NaN,False,False,14,False,2022-06-30 18:18:37.739644,0,2022-06-30 20:17:28.883471,0
1,228,2022-06-17,02:00:00,02:30:00,SPOTV ON,스포츠,축구,SPORTS TIME FOOTBALL,"22-23 UEFA 네이션스리그 GOALS,MD4",NaN,...,0,NaN,False,False,211,False,2022-06-30 18:18:37.430262,0,2022-06-30 20:17:28.430811,0

In [4]:
Pattern_list = ['리빙TV', '마운틴TV', '매일경제TV', '머니투데이', '서울경제TV', '아시아앤', '애니맥스', '애니원티비',
                '애니플러스', '연합뉴스TV', '이데일리', '채널A', '카툰네트워크', '텔레노벨라', '토마토증권통', '팍스경제TV',
                '한국경제TV','AXN', 'CH U', 'FISHING TV', 'FTV', 'GTV', 'JTBC Golf', 'KBS Life', 'KBS sotry',
                'MBC 드라마넷', 'MBC NET', 'nikelodeon.csv', 'OBS-W', 'OGN', 'Tooniverse', 'TV조선', 'YTN 사이언스',
                'YTN', 'YTN2']

In [10]:
data = pd.read_csv('../data/전체신호_cusotm.csv')
data1 = data[58:59]
data2 = data[61:62]

## EPG Validation

In [114]:
def epg_validation(newdata, epg_data) :
    result = []
    for i in range(len(epg_data)) :
        
        if epg_data['ch_nm'].iloc[i] == newdata['채널명'].iloc[0] :
            if (newdata['삽입시간'].iloc[0] >= epg_data['brad_st_time'].iloc[i]) & (newdata['삽입시간'].iloc[0] <= epg_data['brad_ed_time'].iloc[i]) :
                answer = '정상데이터'
                result.append(answer)
            else :
                answer = '이상데이터'
                result.append(answer)
                
    if '정상데이터' in result :
        result = '정상데이터'
    else :
        result = '이상데이터'

    return result
epg_validation(data1, epg)

'이상데이터'