In [2]:
from google.colab import drive 
drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

In [3]:
df = pd.read_csv('/content/gdrive/MyDrive/AI/dataset/UMP/supplemental_train.csv')

In [18]:
import pandas as pd
import pickle
import numpy as np

from sklearn.model_selection import train_test_split

In [5]:
train = df[:200000]

In [6]:
# save
with open('/content/gdrive/MyDrive/AI/dataset/UMP/sample_data.pickle', 'wb') as f:
    pickle.dump(train, f, pickle.HIGHEST_PROTOCOL)

In [7]:
# load
with open('/content/gdrive/MyDrive/AI/dataset/UMP/sample_data.pickle', 'rb') as f:
    train = pickle.load(f)

In [14]:
## 결측치 확인
train.isnull().sum().sum()

0

In [15]:
train.head()

,row_id,time_id,investment_id,f_0,f_1,f_2,f_3,f_4,f_5,f_6,...,f_291,f_292,f_293,f_294,f_295,f_296,f_297,f_298,f_299,target
0,0_2470,0,2470,0.857476,0.014525,0.788850,0.723694,0.110336,0.872259,0.622063,...,0.207291,0.672806,0.543164,0.140206,0.874127,0.608734,0.002161,0.777650,0.777969,0.482648
1,1_3175,1,3175,0.136743,0.365311,0.480053,0.486144,0.947280,0.828768,0.467746,...,0.719423,0.019378,0.253559,0.959608,0.044995,0.075371,0.052130,0.799216,0.392113,0.870882
2,2_1427,2,1427,0.303859,0.905065,0.653210,0.803277,0.324553,0.209632,0.801480,...,0.239102,0.654874,0.877775,0.882025,0.389150,0.995435,0.220038,0.463028,0.548430,0.135198
3,3_2842,3,2842,0.310167,0.184374,0.250553,0.408470,0.625977,0.783919,0.461546,...,0.131791,0.905971,0.647910,0.164506,0.953576,0.928850,0.617431,0.966846,0.199578,0.765026
4,4_1183,4,1183,0.751231,0.512202,0.216569,0.874850,0.786549,0.428286,0.004994,...,0.057409,0.355222,0.897738,0.475867,0.918221,0.638254,0.713265,0.827862,0.682437,0.553994

In [17]:
train = train.drop(['row_id','time_id'],axis=1)

In [ ]:
X = train.drop(['target'],axis=1)
y = train['target']

X_train, X_test, y_train, y_test = train_test_split(X,y,  test_size=0.4,  shuffle=True, random_state=1004)

In [ ]:
np.set_printoptions(precision=6, suppress=True)
def mean(inp):
    result = 0
    len_inp = len(inp)    
    for i in inp:
        result += i
    result = result / len_inp
    return result
def sqrt(inp):
    result = inp/2
    for i in range(30):
        result = (result + (inp / result)) / 2
    return result

def cor(inp1, inp2):
    # 평균 먼저 계산
    mean_inp1 = mean(inp1)
    mean_inp2 = mean(inp2)
    # 분자
    son = 0
    for i in range(len(inp1)):
        son += (inp1[i] - mean_inp1) * (inp2[i] - mean_inp2)
    # 분모
    x_mom = 0
    for i in range(len(inp1)):
        x_mom += (inp1[i] - mean_inp1) ** 2
    y_mom = 0
    for i in range(len(inp2)):
        y_mom += (inp2[i] - mean_inp2) ** 2
    mom = sqrt(x_mom) * sqrt(y_mom)
    result = son / mom
    print(result)
    return result

In [ ]:
pred = model.predict(X_valid)
cor = cor(pred,y_valid)