In [2]:
import pandas as pd

In [3]:
epg = pd.read_csv('./Case1_EPG/epg_information.csv')
epg.head(2)

,ch_sid,brad_date,brad_st_time,brad_ed_time,ch_nm,parent_genre,child_genre,title,sub_title,episode,...,epg_svrt,image_info,sub_title_yn,commentary_yn,ch_no,sigh_language,reg_dt,reg_id,upd_dt,upd_id
0,362,2022-06-17,10:25:00,11:35:00,홈&쇼핑,홈쇼핑,패션/의류,케이수(코디세트SS+밴딩팬츠SS(팔라초)),NaN,NaN,...,0,NaN,False,False,14,False,2022-06-30 18:18:37.739644,0,2022-06-30 20:17:28.883471,0
1,228,2022-06-17,02:00:00,02:30:00,SPOTV ON,스포츠,축구,SPORTS TIME FOOTBALL,"22-23 UEFA 네이션스리그 GOALS,MD4",NaN,...,0,NaN,False,False,211,False,2022-06-30 18:18:37.430262,0,2022-06-30 20:17:28.430811,0

In [4]:
Pattern_list = ['리빙TV', '마운틴TV', '매일경제TV', '머니투데이', '서울경제TV', '아시아앤', '애니맥스', '애니원티비',
                '애니플러스', '연합뉴스TV', '이데일리', '채널A', '카툰네트워크', '텔레노벨라', '토마토증권통', '팍스경제TV',
                '한국경제TV','AXN', 'CH U', 'FISHING TV', 'FTV', 'GTV', 'JTBC Golf', 'KBS Life', 'KBS sotry',
                'MBC 드라마넷', 'MBC NET', 'nikelodeon.csv', 'OBS-W', 'OGN', 'Tooniverse', 'TV조선', 'YTN 사이언스',
                'YTN', 'YTN2']

In [5]:
for ch in Pattern_list :
    ch_info = epg[epg['ch_nm'] == str(ch)]
    ch_info.to_csv('./Case1_EPG/'+str(ch)+'_EPG.csv',index=False)

In [6]:
ch_info.head()

,ch_sid,brad_date,brad_st_time,brad_ed_time,ch_nm,parent_genre,child_genre,title,sub_title,episode,...,epg_svrt,image_info,sub_title_yn,commentary_yn,ch_no,sigh_language,reg_dt,reg_id,upd_dt,upd_id
2316,318,2022-06-17,13:30:00,14:10:00,YTN2,교양/정보,일반,한국인의 밥상,NaN,NaN,...,0,NaN,False,False,159,False,2022-06-30 18:18:41.222985,0,2022-06-30 20:18:00.992887,0
2320,318,2022-06-17,00:50:00,02:00:00,YTN2,교양/정보,일반,나는 자연인이다,NaN,NaN,...,0,NaN,False,False,159,False,2022-06-30 18:18:41.222985,0,2022-06-30 20:18:00.992887,0
2321,318,2022-06-17,06:00:00,07:00:00,YTN2,교양/정보,의료건강,닥터 지바고,NaN,NaN,...,0,NaN,False,False,159,False,2022-06-30 18:18:41.222985,0,2022-06-30 20:18:00.992887,0
2322,318,2022-06-17,07:00:00,07:40:00,YTN2,교양/정보,일반,J의 인생,NaN,NaN,...,0,NaN,False,False,159,False,2022-06-30 18:18:41.222985,0,2022-06-30 20:18:00.992887,0
2323,318,2022-06-17,07:40:00,09:00:00,YTN2,연예/오락,버라이어티,맛있는 녀석들,NaN,NaN,...,15,NaN,False,False,159,False,2022-06-30 18:18:41.222985,0,2022-06-30 20:18:00.992887,0

In [7]:
def ch(newdata) :
    df_epg = pd.read_csv('./Case1_EPG/AXN_EPG.csv')

    for i in range(len(df_epg)) :
        if df_epg['ch_nm'][i] == data['채널명'].iloc[0] :

SyntaxError: invalid syntax (1848324921.py, line 5)