In [4]:
import pandas as pd
import numpy as np

import matplotlib.pylab as plt
import seaborn as sns
%matplotlib inline

from sklearn.preprocessing import StandardScaler

import tensorflow as tf
from tensorflow import keras

2022-08-21 14:57:25.994686: I tensorflow/core/util/util.cc:169] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.

In [5]:
sns.set(style='whitegrid', palette='muted', font_scale=1.5)

In [6]:
ticket = pd.read_csv('../data/perf_port(172.17.28.181).csv')
ticket.head(5)

              ip              stat_dt        bps_in      bps_out
0  172.17.28.181  1970-01-20 14:10:13  8.165731e+12  12406968.05
1  172.17.28.181  2022-08-11 19:24:00  8.166566e+12  12408211.75
2  172.17.28.181  2022-08-11 19:25:00  8.166674e+12  12408368.15
3  172.17.28.181  2022-08-11 19:27:00  8.166901e+12  12408707.65
4  172.17.28.181  2022-08-11 19:28:00  8.167026e+12  12408897.55

In [7]:
time_temp = pd.to_datetime(ticket['stat_dt'])
level_temp = ticket['bps_in']
time_temp.name = 'date'
level_temp.name = 'bps_in'

In [8]:
ticket = pd.concat([time_temp, level_temp], axis = 1)
ticket = ticket.set_index("date")
print(ticket.shape)
ticket.head(5)

(5742, 1)

                            level
date
1970-01-20 14:10:13  8.165731e+12
2022-08-11 19:24:00  8.166566e+12
2022-08-11 19:25:00  8.166674e+12
2022-08-11 19:27:00  8.166901e+12
2022-08-11 19:28:00  8.167026e+12